﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informatica</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body class="container">
    <h2>Projeto Controle de Clientes</h2>
    Asp.Net MVC com FluentNHibernate
    <hr />
    <p>
        Selecione a operação desejada:
    </p>
    <ul>
        <li> <a href="/Cliente/Cadastro">Cadastrar Clientes</a> </li>
        <li> <a href="/Cliente/Consulta">Consultar Clientes</a> </li>
    </ul>
</body>
</html>