﻿@model Projeto.Web.Models.ClienteViewModelCadastro

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro Cliente</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>

<body class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Cadastro de Clientes</h4>
            <a href="/Home/Index">Voltar</a>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes:
                new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Nome,
                new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "",
                new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes:
                new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Email,
                new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "",
                new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, htmlAttributes:
                new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.Sexo,
                new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sexo, "",
                new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EstadoCivil, htmlAttributes:
                new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.EstadoCivil,
                new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EstadoCivil, "",
                new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" value="Cadastrar Cliente"
                           class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @ViewBag.Mensagem
    </div>
</body>
</html>
